<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :company_name, placeholder: "company name" %>
  </div>

  <div class="field">
    <%= f.text_field :user_position, placeholder: "user position" %>
  </div>

  <div class="field">
    <%= f.label "Brand Concept: Describe your Brand concept in 100 characters" %>
    <%= f.text_area :description %>
  </div>

  <div>
  <%= f.label "Background Image: Background images must be in PNG, GIF, or JPG format" %>
  <%= f.file_field :background_image %>
  </div>

   <div>
    <%= f.label 'Logo' %>
    <%= f.file_field :logo %>
  </div>

  <div>
    Brand Idea
  </div>

  <div>
    Brand Idea
  </div>

  <div class="field">
    <%= f.label :type_of_business %><br>
    <%= f.select :type_of_business, options_for_select(Profile::BUSINESS_TYPES) %><br>
  </div>

    <%# f.label :category %>
    <%# f.text_field :category %>
  <div class="field">
    <%= f.text_field :city, placeholder: "city" %>
  </div>

  <div class="field">
    <%= f.select :state, options_for_select(@profile.us_states, "FL") %>
  </div>



  <div class="actions">
    <%= f.submit 'Create A Brand Profile' %>
  </div>


<% end %>
