<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--   <div class="field">
    <%# f.text_field :user_position, placeholder: "user position" %>
  </div> -->

<form>
  <div class="form-group">
    <%= f.label "Name of Company" %>
    <%= f.text_field :company_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Brand Concept: Describe your Brand concept in 100 characters" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Background Image: Background images must be in PNG, GIF, or JPG format" %>
    <%= f.file_field :background_image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'Logo' %>
    <%= f.file_field :logo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Differentiator: What makes your company different?" %>
    <%= f.text_field :brand_idea, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'Brand Slogan' %>
    <%= f.text_field :slogan, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'Long Description' %>
    <%= f.text_field :long_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'Structure: Select the structure that best represents your company or personality' %><br>
    <%= f.select :type_of_business, options_for_select(Profile::BUSINESS_TYPES), class: "form-control" %><br>
  </div>

  <div class="form-group">
    <%= f.label 'Locations' %>
    <%= f.text_field :city, placeholder: "City", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.select :state, options_for_select(@profile.us_states, "FL"), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'Web Address' %>
    <%= f.text_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'Facebook' %>
    <%= f.text_field :facebook, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'Twitter' %>
    <%= f.text_field :twitter, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'Instagram' %>
    <%= f.text_field :instagram, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'Hashtag' %>
    <%= f.text_field :hashtag, class: "form-control" %>
  </div>

  <div class="actions submit-button">
    <%= f.submit 'Create A Brand Profile', class: 'btn btn-default' %>
  </div>


<% end %>
</form>
