<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @profile.company_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>User position:</strong>
  <%= @profile.user_position %>
</p>

<p>
  <strong>Type of business:</strong>
  <%= @profile.type_of_business %>
</p>

<p>
  <strong>Category:</strong>
  <%= @profile.category %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<%= render 'comments/form' %>

<% @comments = Comment.where(:profile_id => @profile.id) %>
<% @comments.each do |c| %>
  <%= c.description %>
  <%= User.find(c.user_id).name %><br>
<% end %>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
