<p id="notice"><%= notice %></p>

<div class="background dimmed" style="<%= show_brand_background %>">
  <h2 id="description-show" class="text-center">
    <i class="fa-big fa fa-quote-left"></i><%= @profile.description %><i class=" fa-big fa fa-quote-right"></i>
  </h2>

  <div class="text-center match-stuff">
      <p class="num-matches text-center"><%= @profile.votes_for.size %> Matches</p>
    <div class="text-center">
      <%= link_to like_profile_path(@profile), method: :put, class: 'match-button' do %>
        <i class="fa fa-exchange"> Match</i>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row profile-info">
    <div class="col-md-4">
      <h1 id="company-name"><%= @profile.company_name %></h1>
      <p>
        <h3>Type of business</h3>
         <p><%= @profile.type_of_business %></p>
      </p>
      <p>
        <h3>Location</h3>
        <p><%= @profile.city %>, <%= @profile.state %></p>
      </p>
    </div>

    <div class="col-md-4 text-center">
      <p class="text-center">
        <% if @profile.logo.blank? %>
          <%= image_tag 'default.jpg', class: "logo-show" %>
        <% else %>
          <%= image_tag @profile.logo.to_s, class: "logo-show" %>
        <% end %>
      </p>
      <p>
        <h3>Brand Idea</h3>
         <p><%= @profile.brand_idea %></p>
      </p>
      <p>
        <h3>Slogan</h3>
        <p><%= @profile.slogan %></p>
      </p>
      <p>
        <h3>Description</h3>
        <p><%= @profile.long_description %></p>
      </p>

    </div>

    <div class="col-md-4">
      <h2 class="text-center" id="brand-tree">Online Brand Tree</h2>
      <ul class="list-unstyled social-media">
        <% unless @profile.hashtag.blank? %>
          <li id="hashtag"><%= @profile.hashtag %></li>
        <% end %>
        <% unless @profile.url.blank? %>
          <li><i class="fa-big fa fa-globe fa-2x"></i><a href="<%= @profile.url %>" target="_blank"><%= @profile.url %></a></li>
        <% end %>
        <% unless @profile.facebook.blank? %>
          <li><i class="fa-big fa fa-facebook fa-2x"></i><a href="<%= @profile.facebook %>" target="_blank"><%= @profile.facebook %></a></li>
        <% end %>
        <% unless @profile.twitter.blank? %>
          <li><i class="fa-big fa fa-twitter fa-2x"></i><a href="<%= @profile.twitter %>" target="_blank"><%= @profile.twitter %></a></li>
        <% end %>
        <% unless @profile.instagram.blank? %>
          <li><i class="fa-big fa fa-instagram fa-2x"></i><a href="<%= @profile.instagram %>" target="_blank"><%= @profile.instagram %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-12">
    <hr>
      <p>
        Share this:<%= social_share_button_tag(@profile.company_name) %>
      </p>
    </div>

    <div class="col-md-12">
    <hr>
      <% if current_user %>
        <%= render 'comments/form' %>
      <% else %>
        <%= link_to "Log in to leave a comment", new_user_session_path %>
      <% end %>

      <% @comments = Comment.where(:profile_id => @profile.id) %>
      <% @comments.each do |c| %>
        <hr>
        <h4> <%= User.find(c.user_id).name %> says...</h4>
        <p><%= c.description %></p>
        <hr>
      <% end %>
    </div>

   </div>
  </div>
</div>



