<p id="notice"><%= notice %></p>

<div style="<%= show_brand_background %>">
  <h2 id="description-show">
    <i class="fa fa-quote-left"></i><%= @profile.description %><i class="fa fa-quote-right"></i>
  </h2>

<div class="text-center match-stuff">
  <p><%= @profile.votes_for.size %> Matches</p>
  <%= link_to "Match", like_profile_path(@profile), method: :put, class: 'match-button' %>
</div>

<div class="container">
  <div class="row profile-info">
    <div class="col-md-4">
      <h1><%= @profile.company_name %></h1>
      <p>
        <strong>Type of business:</strong>
        <%= @profile.type_of_business %>
      </p>
      <p>
        <strong>Category:</strong>
        <%= @profile.category %>
      </p>
    </div>

    <div class="col-md-4 text-center">
      <p class="text-center">
        <%= image_tag @profile.logo.to_s, class: "logo-show" %>
      </p>
      <p>
        <strong>City:</strong>
        <%= @profile.city %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @profile.state %>
      </p>
    </div>

    <div class="col-md-4">
      <h2 id="brand-tree">Online Brand Tree</h2>
      <ul class="list-unstyled">
        <li id="hashtag">Hashtag</li>
        <li>Web Address</li>
        <li>Social Media Accounts</li>
        <li>Social Media Accounts</li>
        <li>Social Media Accounts</li>
      </ul>
    </div>

    <div class="col-md-12">
    <hr>
      <%= render 'comments/form' %>

      <% @comments = Comment.where(:profile_id => @profile.id) %>
      <% @comments.each do |c| %>
        <%= c.description %>
        <%= User.find(c.user_id).name %><br>
      <% end %>
    </div>
   </div>
  </div>
</div>
<%# link_to 'Edit', edit_profile_path(@profile) %> |
<%# link_to 'Back', profiles_path %>


