<div class="col-md-12 col-md-offset-3">
  <div class="edit-user text-center">
    <h2>Get Started. Simple and FREE.</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field form-group">
        <%= f.label :name, "Your Name" %><br>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :email, "Your Email Address" %><br />
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password, "Create a Password" %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%# f.label :tos_accepted, "I agree to the terms of service." %>
        By creating an account, I agree to Spotdly's <%= link_to "terms of service", '#', data: { toggle: 'modal', target: '#myModal' } %>.
        <%= f.check_box :terms_of_service, {}, "true", "false" %>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Spotdly Terms of Service</h4>
            </div>
            <div class="modal-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-default", id: "new_user_submit" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

