<nav class="navbar navbar-default">
  <div class="container">
    <div class="row landing-header">
      <%= link_to(image_tag("logo.png"), profiles_path, id: 'landing-logo', class: 'center') %>
      <div class="dropdown col-md-3 col-md-offset-2">
        <ul class="list-unstyled list-inline">
          <li class="dropdown navbar-right">
            <% if user_signed_in? %>
              <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= current_user.name %> <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu nav navbar-nav navbar-right">
                <% unless @profile.nil? %>
                  <% if current_user && @profile.user_id == current_user.id && @profile.id %>
                    <li><%= link_to 'Edit Brand Page', edit_profile_path(@profile) %>
                    </li>
                  <% end %>
                <% end %>
                  <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            <% else %>
              <ul class="list-unstyled list-inline">
                <li><%= link_to "Login", new_user_session_path, id: "login-landing" %></li>
              </ul>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
