<div class="jumbotron dimmed-landing">
  <%= render 'landing/header' %>
    <div class="container text-center landing-jumbo-content">
      <h1 id="landing-jumbo-heading">Create a Better Brand.</h1>
      <h2 class="col-md-6 col-md-offset-3" id="landing-jumbo-paragraph">Join SPOTDLY to discover, start, improve, and analyze your brand for best customer.</h2>
      <a href="#" class="col-md-12" id="watch-film-link">Watch the film</a>

      <div class="col-md-8 col-md-offset-2">
        <hr>
      </div>

      <div class="form-inline col-md-12">
        <%= form_for resource, :url => user_registration_path(resource) do |f| %>
          <%= f.text_field :name, placeholder: 'Your Name', class: 'form-control' %>
          <%= f.text_field :email, placeholder: 'Your Email Address', class: 'form-control' %>
          <%= f.password_field :password, placeholder: 'Create a Password', class: 'form-control' %><br>
          <%= f.submit 'Get Started - FREE!', class: 'btn btn-default btn-landing', id: "landing-submit" %>
        <% end %>
      </div>

      <p class="col-md-4 col-md-offset-4" id="terms-and-conditions">Creating an account means you agree<br> with Spotdly's terms and <a href="#">data use policy</a>.</p>
    </div>
</div>

<div class="container">
<p class="text-center">More people, more features will be available. It's time to <a href="" class="share-facebook">share on Facebook</a></p>
</div>

<hr>

<div class="container text-center">
  <h1 id="showcase-heading">Showcase & manage all brands <span>free</span></h1>
    <div class="showcase-supporting">
      <p> Create a SPOTDLY brand page is a new way to connect brand ideas with people.</p>
      <p> Define your unique brand concept that sets you apart and get feedback from other people to validate your<br>
      products or services, improve your sales pitch with an organized communication<br>
      and the best of all, get inspired with good business ideas</p>
    </div>
    <%= image_tag ('icons-showcase.png'), class: "icons-showcase" %>
    <%= image_tag ('showcase-brands.png'), class: "showcase-brands" %>
    <h3>The Beginning of Everything</h3>

    <button class="btn btn-default">Get Started- Free!</button>
</div>

<%= render 'landing/footer' %>
