<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= link_to 'Create a Brand', new_profile_path %>
      </a>
      <ul class="list-unstyled list-inline navbar-right">
        <li>Rocket Ship</li>
        <li>Share</li>
        <li>
          <% if user_signed_in? %>
            <%= current_user.name %> dropdown
            <%= link_to 'Edit profile', edit_user_registration_path %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %> |
            <%= link_to "Login", new_user_session_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
